/* Start Adding Font To CSS */
@font-face {
    font-family: "my-font";
    src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}
/* End Adding Font */
/* Start Variables */
:root {
    --red: hsl(0, 100%, 67%);
    --yellow: hsl(39, 100%, 56%);
    --teal: hsl(166, 100%, 37%);
    --blue: hsl(234, 85%, 45%);
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);
    --Desktop: 1440px;
    --Mobile: 375px;
    --paragraph-font-size: 18px;
}
/* End Variables */
/* Start Global Rules */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "my-font";
    display: grid;
    place-items: center;
    min-height: 100vh;
}
/* End Global Rules */
/* Start Card */
.card {
    display: flex;
    box-shadow: 10px 10px 20px 10px #eee;
    width: 100%;
    max-width: 700px;
}
@media (max-width: 768px) {
    .card {
        flex-direction: column;
        margin-bottom: 15px;
    }
}
.card > div {
    flex-basis: 50%;
}
.first {
    background-image: linear-gradient(
        var(--Light-slate-blue),
        var(--Light-royal-blue)
    );
    color: white;
    text-align: center;
    padding: 35px;
    border-radius: 30px;
}
@media (max-width: 768px) {
    .first {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
.first h3 {
    opacity: 0.6;
    font-weight: 500;
    margin-bottom: 30px;
}
.first .score {
    background-image: linear-gradient(var(--Violet-blue), var(--Persian-blue));
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    box-shadow: 0 0 10px 10px inset var(--Persian-blue);
}
.first .score span {
    font-size: 14px;
    opacity: 0.4;
}
.info p {
    font-size: var(--paragraph-font-size);
    max-width: 250px;
    width: 100%;
    line-height: 1.6;
    opacity: 0.6;
    margin-left: auto;
    margin-right: auto;
}
.second {
    padding: 15px 35px 0;
}
.row {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-weight: bold;
    border-radius: 5px;
}
.row > span:first-of-type {
    display: flex;
    align-items: center;
}
.row.red {
    background-color: hsla(0, 100%, 67%, 0.05);
    color: var(--red);
}
.row.yellow {
    background-color: hsla(39, 100%, 56%, 0.05);
    color: var(--yellow);
}
.row.green {
    background-color: hsla(166, 100%, 37%, 0.05);
    color: var(--teal);
}
.row.purple {
    background-color: hsla(234, 85%, 45%, 0.05);
    color: var(--blue);
}
.row svg {
    margin-right: 7px;
}
.row > span:last-of-type {
    color: black;
}
.row > span:last-of-type span {
    margin-left: 5px;
    opacity: 0.3;
}
button {
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    border: none;
    background-color: #282e4b;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 30px;
}
/* End Card */
